{% extends 'base.html.twig' %}


{% block page %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    {% set price = 12300 %}
    {% with %}
        {% set price = 1000 %}
        <p>金額：{{price}}円</p>
        {% set taxprice = price * 1.08 %}
        <p>税込：{{taxprice}}円</p>
    {% endwith %}
    <p>金額：{{price}}円</p>
    {% set taxprice = price * 1.08 %}
    <p>税込：{{taxprice}}円</p>
{% endblock %}
