{% extends 'base.html.twig' %}


{% block page %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Mail</th>
        </tr>
        {% for item in data %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.age}}</td>
                <td>{{item.mail}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
