<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ controller }}</title>
</head>
<body>
<h1>{{ controller }}</h1>
<p>これは、{{ prev_action }}アクションから{{ action }}に送られたものです。</p>
<p>メッセージ：{{ message }}</p>
<p><a href="/other/{{ action }}/{{ message }}">next page</a></p>
</body>
</html>
