{% extends 'base.html.twig' %}

{% block page %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    <h2>Find Entity</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <hr>
    {% if data != null %}
        <ul>
            {% for item in data %}
                <li>{{item.name}}({{item.age}})</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
