{% macro input(type, name, value) %}
    <tr>
        <th>{{ name }}</th>
        <td><input type="{{ type }}" name="{{ name }}"
                   value="{{ value }}"/></td>
    </tr>
{% endmacro %}


{% macro submit(value) %}
    <tr>
        <th></th>
        <td><input type="submit"
                   value="{{ value }}"/></td>
    </tr>
{% endmacro %}
