{% extends 'base.html.twig' %}

{% block title %}Hello FlashController!{% endblock %}

{% block body %}
    <style>
        .flash-notice {
            color:red;
            font-size:16pt;
            font-weight:bold;
        }
    </style>
    <h2>Hello</h2>
    <ol>
        {% for message in bag.peek('info.mail') %}
            <div class="flash-notice">
                <li>{{ message.name }}</li>
            </div>
        {% endfor %}
    </ol>
    <p>{{ message }}</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
